@font-face{
	font-family: font;
	src:url("../font/CODE Light.otf");
}

body{
	/*background-image: url('../images/cosmos.jpg');*/
	background-color: black;
	font-family: 'Code Light';
	overflow: hidden;
}
/*
*{
	box-sizing:border-box;
}*/

.hid{
	display: none;
}

header{
	width:100%;
	height:80px;
	position: absolute;
	z-index: 10;
}

header h1{
	color:white;
	width:100%;
	font-size:5vw;
	text-align: center;
	line-height: 50px;
	margin:0 auto;
	margin-top: 15px;
}

main{
	float: left;
	width: 100%;
	height: auto;
	width:100;
	position: relative;
	z-index: 5;
}

.nav{
	width: 100px;
	height: 100%;
	position: absolute;
	left:5px;
	z-index: 8;
}

.nav2{
	width: 100px;
	height: 100%;
	position: absolute;
	right:5px;
	z-index: 8;
}

.nav-btn{
	margin:0;
	padding: 0;
	width: 60px;
	height: 60px;
	margin-bottom: 25px;
	margin-left:10px; 
	border:1px solid white;
	transform:rotate(45deg);
	border-radius: 10px;
}

.nav .nav-btn:first-child{
	margin-top:120px;
}

.nav2 .nav-btn:first-child{
	margin-top:120px;
}

.nav-btn img{
	transform:rotate(-45deg);
	width: 50px;
	height:50px;
	margin-top: 5px;
	margin-left:5px;
}

.nav-btn:hover{
	background-color: #808080;
}


footer{
	width:100vw;
	height:auto;
	position: relative;
	float: left;
}

.kenban{
	position: relative;
	width: 56vw;
	height: auto;
	margin: 0 auto;
}

.white-btn{
	z-index: 5;
}

.black-btn1{
	position: absolute;
	background-color: black;
	top:0px;
	left:4.5vw;
	z-index:10;
}

.black-btn2{
	position: absolute;
	background-color: black;
	top:0px;
	left:25.5vw;
	z-index: 10;
}

.btn{
	height:28vh;
	width: 7vw;
	box-sizing: border-box;
	border: 1px solid white;
	float: left;
	color:white;
	font-size: 30px;
	text-align: center;
	padding-top: 21vh;
}

.btn:nth-child(1){
	border-radius:10px 0px 0px 10px;
}

.btn:nth-child(8){
	border-radius:0px 10px 10px 0px;
}

.btn2{
	height: 16vh;
	width: 5vw;
	border: 1px solid white;
	box-sizing: border-box;
	float: left;
	border-radius: 0px 0px 10px 10px;
	background-color: black;
	color:white;
	text-align: center;
	padding-top:10vh;
	font-size:24px;
}

#Ds,#Gs{
	position: absolute;
	left:7vw;
}

#As{
	position: absolute;
	left:14vw;
}

.pushed{
	background-color:#d3d3d3;
	color:black;
}

#btn_piano{
	background-color: #808080;
}

main canvas{
	width:70vw;
	height: auto;
	display:block;
	margin:0 auto;
}
@media screen and (max-width: 978px) {
  main{
  	visibility:hidden;
  }
  .hid{
  	width: 28vw;
  	height: 100vh;
  	text-align: center;
  	color:white;
  	display: block;
  	position: absolute;
  	top:40vh;
  	left:36vw;
  }
}

@media screen and (max-width: 630px) {
  body{
  	display:none;
  }
}

